#hackathons{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.5);
    background-image: url(../../pictures/htvbg.jpeg);
    
    background-position-x: center;
    background-position-y: 60%;

    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    
    height:fit-content;
    width: 100vw;
    max-width: 100vw;

    padding-top: 164px;

    color: white;
}

.hack-icon-col{
    height: 125px;
    width: 125px;

    margin: 10px;
}

.hack-icon{
    width: 100%;
}