nav{
    background-color: #6f42c1;
}

a.nav-link:hover{
    color: orange !important;
    /* color: #feae51ff !important; */
    /* color: #ff6f61ff !important; */
}

a.navbar-brand:hover{
    color: orange !important;

    /* color: #feae51ff !important; */
    /* color: #ff6f61ff !important; */
}